{% extends "theme.html" %}
{% block title %}Question{% endblock %}
{% block content %}
    <h3><strong>Question:</strong></h3>
    <p><strong> Submitted by {{ question.user.username }}</strong> 
    <br>at <small>{{ question.submittedAt.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
    <p>{{ question.content }}</p>

    <h5>Add Your Answer:</h5>
    <form method="POST">
        <textarea name="answer" class="form-control" placeholder="Type your answer here"></textarea>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Answer</button>
        </div>
    </form>

    <h5>Answers:</h5>
    <ul class="list-group list-group-flush">
        {% for answer in question.answers %}
            <li class="list-group-item">
                <small class="text-muted">Answered by {{ answer.user.username }} on {{ answer.submittedAt.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                <br />
                {{ answer.content }}
            </li>
        {% else %}
            <li class="list-group-item">No answers yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
